.signup-form {
    width: 70%;
    margin: 0px auto;
    background: #00ccb1;
    color: white;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    h2 {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .btn-register {
        color: #fff;
        background-color: #ca1c86;
        border-color: #ca1c86;
    }
}